# Maven target folders
**/target/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# IDE files
*.iml
.idea/
*.class

# Logs
*.log

# Java crash logs
hs_err_pid*

# Drawio files
*.drawio.svg